
<div class ="card" [ngStyle]="{'width': (mobile  ==  false) ?  '40vh' : (mobile  ==  true) ? '70vh' : null  }">

  <div class="content">
    <div class="body">
      <h1 id="headline"> {{plant.name}}</h1>
      <img id="pic" src="assets/img.png">


      <a id="status">
        Status
        <img *ngIf="plant.status == false "  class="statusPic" src="assets/Status/red.png" alt="failed">
        <img *ngIf="plant.status == true "   class="statusPic" src="assets/Status/green.png" alt="reachable">
      </a>
      <a id="last">
        {{plant.last}}
      </a>
      <a id="mos">
        <img class="mosTempPic" src="assets/Symbols/temp.png" alt="thermometer">{{plant.mos}}
        <img class="mosTempPic" src="assets/Symbols/avg.png" alt="avgSymbol">{{plant.avg}}
      </a>


    </div>

  </div>



</div>
